body {
    font-size: 17px;
    font-family: arial;
    background: lightgray;
    line-height: 1.5em;
}

#container {
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.intro {
    font-size: 150%;
    color: red;
}